<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>

        <% if (locals.authorization === "Error") { %>
            <p><%= locals.authorization %></p>
            <a href="/">Retry</a>
        <% } %>
        
        <% if (success === "y") { %>
            <p>You entered: <%= studentData["STUDENT_FNAME"] %> <%= studentData["STUDENT_LNAME"] %> <%= studentData["STUDENT_GPA"] %></p>
            <p><%= statement %></p>
        <% } else { %>
            <p><%= statement %></p>
        <% } %>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>