<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('../partials/head'); %>
    </head>
        
    <body>

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="music">
                <% if (locals.music) { %>
                    <p>WE HAVE MUSIC</p>
                    Total Songs:
                    <%= locals.music.resultCount %>
                    <p>First song is: </p>
                    <p><%= locals.music.results[0].collectionName %></p>
                    <p>And it has the following description: </p>
                    <p><%= locals.music.results[0].description %></p>
                    
                    <% } %>
                <br>
                <% if (!locals.music) { %>
                    <p>WE HAVE NO MUSIC</p>
                <% } %>
            </div>


            <div class="student-api">

            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>